/* base style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --purple: #8e44ad;
    --red: #c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light--white:#ccc;
    --light--bg:#f5f5f5;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none !important;
    border: none;
    font-family: "Rubik", serif;
    transition:all .2s linear;
}

*::selection{
    background: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background: var(--purple);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--light--bg);
}

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.message{
    background: var(--light--bg);
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover{
    transform: rotate(90deg);
}



.btn,
.option-btn,
.delete-btn,
.logout-btn,
.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2rem !important;
    color: var(--white) !important;
    font-size: 1.8rem !important;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover,
.option-btn:hover,
.logout-btn:hover,
.delete-btn:hover{
    background: var(--black) !important;
}

.white-btn,
.btn{
    background: var(--purple) !important;
}

.option-btn{
    background: var(--orange) !important;
}

.delete-btn,
.logout-btn{
    background: var(--red) !important;
}


.flex-btn{
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}


.title{
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.empty{
    font-size: 2rem;
    text-align: center;
    color: var(--red);
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    padding: 1.5rem;
   
}

.page{
    font-size: 2rem;
  }
  
  .page nav{
    margin: auto;
  
  }
  
  .page-item .page-link{
    padding: .7rem 1.5rem;
  }

  .justify-content-sm-between{
    justify-content: center !important;
    gap: 1rem;
    flex-direction: column-reverse;
  }



/* header */

.header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.header .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .logo span{
    color: var(--purple);
}

.header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color: var(--black);

}

.header .flex .navbar a:hover{
    color: var(--purple);
}

.header .flex .icons > *{
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--purple);
}

.header .flex .account-box{
    background: var(--white);
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 30rem;
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border: var(--border);
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .account-box.active{
    display: inline-block;
}

@keyframes fadeIn{

    0%{
        transform: translateY(1rem);
        opacity: .2;
    }
}


.header .flex .account-box p{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.header .flex .account-box p span{
    color: var(--purple);
}

.header .flex .account-box .delete-btn{
    margin-top: 0;
}


#menu-btn{
    display: none;
}


/* dashboard */

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.dashboard .box-container .box{
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}


.dashboard .box-container .box h3{
    font-size: 5rem;
    color: var(--black);
}

.dashboard .box-container .box p{
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: var(--light--bg);
    color: var(--purple);
    font-size: 2rem;
    border: var(--border);
    border-radius: .5rem;
}


/* add-products */

.add-products form{
    padding: 2rem;
    max-width: 50rem;
    text-align: center;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin: 0 auto
}

.add-products form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.add-products form .box{
    width: 100%;
    background: var(--light--bg);
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    padding: 1.4rem;
    border: var(--border);
    border-radius: .5rem;
}


/* show-products */

.show-products{
    padding-top: 0;
}

.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    justify-content: center;
    gap: 1.5rem;
    align-items: flex-start;
}

.show-products .box-container .box{
    padding: 2rem;
    text-align: center;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.show-products .box-container .box img{
    height: 30rem;    
}

.show-products .box-container .box .name{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.show-products .box-container .box .price{
    font-size: 2.5rem;
    color: var(--red);
    padding: 1rem 0;
}


/* edit-product-form */

.edit-product-form{
    min-height: 100vh;
    background: rgba(0, 0, 0, .7);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    overflow-y: scroll;
}

.edit-product-form.active{
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-product-form form{
    width: 50rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: var(--white);
}


.edit-product-form form img{
    height: 25rem;
    margin-bottom: 1rem;
}

.edit-product-form form .box{
    width: 100%;
    margin: 1rem 0;
    padding: 1.4rem;
    background: var(--light--bg);
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.8rem !important;
}


/* oreders */

.oreders .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}


.oreders .box-container .box{
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.oreders .box-container .box p{
    font-size: 2rem;
    color: var(--light-color);
    padding-bottom: 1rem;
}

.oreders .box-container .box p span{
    color: var(--purple);
    word-break: break-all;
}


.oreders .box-container .box form select{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.5rem;
    color: var(--black);
    background: var(--light--bg);
    border: var(--border);
    border-radius: .5rem;
    margin: 0.5rem 0;
}


/* users */

.users .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.users .box-container .box{
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
}


.users .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-bottom: 1rem;
    word-break: break-all;
}

.users .box-container .box p span{
    color: var(--purple);
}

.users .box-container .box .delete-btn{
    margin-top: 0;
}


/* messages */

.messages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.messages .box-container .box{
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}


.messages .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-bottom: 1rem;
    word-break: break-all;
    line-height: 1.5;
}


.messages .box-container .box p span{
    color: var(--purple);
}

.messages .box-container .box .delete-btn{
    margin-top: 0;
}






/* media query */

@media screen and (max-width:991px) {
    
    html{
        font-size: 55%;
    }
}


@media screen and (max-width:768px) {
    
    /* header */

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a{
        width: 100%;
        display: block !important;
        margin: 2rem;
    }

    #menu-btn{
        display: inline-block;
    }

    .page .pagination{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
        justify-content: center;
    }
}

@media screen and (max-width:450px) {
    
    html{
        font-size: 50%;
    }

    .title{
        font-size: 3rem;
    }

    /* show-products */
    .show-products .box-container{
        grid-template-columns: 1fr;
    }

    /* oreders */

    .oreders .box-container{
        grid-template-columns: 1fr;
    }


    /* users */

    .users .box-container{
        grid-template-columns: 1fr;
    }
}
