/* base style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --purple: #8e44ad;
    --red: #c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light--white:#ccc;
    --light--bg:#f5f5f5;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none !important;
    border: none;
    font-family: "Rubik", serif;
    transition:all .2s linear;
}

*::selection{
    background: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background: var(--purple);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--light--bg);
}

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.message{
    background: var(--white);
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1100;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover{
    transform: rotate(90deg);
}



.btn,
.option-btn,
.delete-btn,
.logout-btn,
.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2rem !important;
    color: var(--white) !important;
    font-size: 1.8rem !important;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover,
.option-btn:hover,
.logout-btn:hover,
.delete-btn:hover{
    background: var(--black) !important;
}

.white-btn,
.btn{
    background: var(--purple) !important;
}

.white-btn:hover{
    background: var(--white) !important;
    color: var(--black) !important;
}

.option-btn{
    background: var(--orange) !important;
}

.delete-btn,
.logout-btn{
    background: var(--red) !important;
}


.flex-btn{
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}


.title{
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.empty{
    font-size: 2rem;
    text-align: center;
    color: var(--red);
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    padding: 1.5rem;
}

.page{
    font-size: 2rem;
}
  
.page nav{
    margin: auto;

}
  
  .page-item .page-link{
    padding: .7rem 1.5rem;
}

  .justify-content-sm-between{
    justify-content: center !important;
    gap: 1rem;
    flex-direction: column-reverse;
}



.text-danger{
    font-size: 1.5rem !important;
    color: var(--red) !important;
    margin-top: 0 !important;
    text-align: left !important;
    display: block !important;
}
  

/* header */

.header .header-1{
    background: var(--light--bg)
}

.header .header-1 .flex{
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header .header-1 .flex .share a{
    font-size: 2.5rem;
    color: var(--black);
    margin-right: 1.5rem;
}

.header .header-1 .flex .share a:hover{
    color: var(--purple);
}

.header .header-1 .flex p{
    font-size: 2rem;
    color: var(--light-color);
}

.header .header-1 .flex p a{
    color: var(--purple);
}

.header .header-1 .flex p a:hover{
    text-decoration: underline !important;
}


.header .header-2{
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header .header-2 .flex{
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.header .header-2 .flex .logo{
    font-size: 2.5rem;
    color: var(--purple);
}

.header .header-2 .flex .navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--light-color);
}


.header .header-2 .flex .navbar a:hover{
    color: var(--purple);
    text-decoration: underline !important;
}

.header .header-2 .flex .icons > *{
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
    cursor: pointer;
}

.header .header-2 .flex .icons > *:hover{
    color: var(--purple);
}

#menu-btn{
    display: none;
}


.header .header-2 .flex .user-box{
    position: absolute;
    top: 120%;
    right: 2rem;
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: none;
    animation: fadeIn .2s linear;
}


@keyframes fadeIn{

    0%{
        transform: translateY(1rem);
        opacity: .2;
    }
}


.header .header-2 .flex .user-box.active{
    display: inline-block;
}

.header .header-2 .flex .user-box p{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span{
    color: var(--purple);
}

.header .header-2 .flex .user-box .logout-btn{
    margin-top: 0;
}

/* form-container */

.form-container{
    min-height: 100vh;
    background: var(--light--bg);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form{
    padding: 2rem;
    width: 50rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
    text-align: center;
}

.form-container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--black);
}

.form-container form .box{
    width: 100%;
    padding: 1.4rem;
    margin: 1rem 0;
    background: var(--light--bg);
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;

}

.form-container form p{
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.form-container form p a{
    color: var(--purple);
    
}


.form-container form p a:hover{
    text-decoration: underline;
}


/* home */

.home {
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.7)), url('../images/home-bg.jpg')
    no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    font-size: 5.5rem;
    color: var(--white);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--light--white);
    padding: 1rem 0;
    line-height: 2;
}


/* products */

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.products .box-container .box{
    padding: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    position: relative;
}

.products .box-container .box .image{
    height: 30rem;
}

.products .box-container .box .name{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.products .box-container .box .price{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    background: var(--red);
    padding: 1rem;
    border-radius: .5rem;
}

.products .box-container .box .qty{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 2rem;
    margin: 1rem 0;
    border: var(--border);
    border-radius: .5rem;
}


/* heading */

.heading{
    min-height: 40vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: url(../images/heading-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading h3{
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
}

.heading p{
    font-size: 2.5rem;
    color: var(--light-color);
}

.heading p a{
    color: var(--purple);
}

.heading p a:hover{
    text-decoration: underline !important;
}

/* about */

.about .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .flex .image{
    flex: 1 1 40rem;
}

.about .flex .image img{
    width: 100%;
}

.about .flex .content{
    flex: 1 1 40rem;
    padding: 2rem;
    background: var(--light--bg);
}

.about .flex .content h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
}

.about .flex .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}




/* home-contact */

.home-contact{
    background: var(--black);
    padding: 2rem;
}

.home-contact .content{
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
}

.home-contact .content h3{
    font-size: 3rem;
    color: var(--white);
    text-transform: uppercase;
}

.home-contact .content p{
    font-size: 1.7rem;
    color: var(--light--white);
    padding: 1rem 0;
    line-height: 1.5;
}


/* reviews */

.reviews{
    background: var(--light--bg);
}

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.reviews .box-container .box{
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
}


.reviews .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.reviews .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.reviews .box-container .box .stars{
    background: var(--light--bg);
    display: inline-block;
    margin: 0.5rem 0;
    border: var(--border);
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
}

.reviews .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--orange);
    margin: 0.2rem;
}

.reviews .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
}


/* authors */

.authors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}


.authors .box-container .box{
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.authors .box-container .box img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.authors .box-container .box .share{
    position: absolute;
    top: 0;
    left: -10rem;
}

.authors .box-container .box:hover .share{
    left: 1rem;
}

.authors .box-container .box .share a{
    width: 4rem;
    height: 4rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    display: block;
    margin-top: 1rem;
    color: var(--black);
}

.authors .box-container .box .share a:hover{
    background: var(--black);
    color: var(--white);
}

.authors .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.5rem;
    background: var(--white);
}


/* contact */

.contact form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    background: var(--light--bg);
    text-align: center;
}

.contact form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contact form .box{
    width: 100%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    background: var(--white);
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.8rem;
    color: var(--black);
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

/* shopping-cart */

.shopping-cart .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.shopping-cart .box-container .box{
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
    position: relative;
}

.shopping-cart .box-container .box .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--red);
    border-radius: .5rem;
}

.shopping-cart .box-container .box .fa-times:hover{
    background: var(--black);
}


.shopping-cart .box-container .box img{
    height: 30rem;
}

.shopping-cart .box-container .box .name{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.shopping-cart .box-container .box .price{
    font-size: 2.5rem;
    color: var(--red);
    padding: 1rem 0;
}

.shopping-cart .box-container .box input[type='number']{
    margin: 0.5rem 0;
    font-size: 2rem;
    color: var(--black);
    padding: 1.2rem 1.4rem;
    border: var(--border);
    border-radius: .5rem;
    width: 9rem;
}

.shopping-cart .box-container .box .sub-total{
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--light-color);
}

.shopping-cart .box-container .box .sub-total span{
    color: var(--red);
}

.shopping-cart .cart-total{
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 2rem;
}

.shopping-cart .cart-total p{
    font-size: 2.5rem;
    color: var(--light-color);
}

.shopping-cart .cart-total p span{
    color: var(--red);
}

.shopping-cart .cart-total .flex{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.disabled{
    opacity: .5;
    pointer-events: none;
    user-select: none;
}


/* display-order */

.display-order{
    text-align: center;
    padding-bottom: 0;
}

.display-order p{
    font-size: 2rem;
    color: var(--black);
    background: var(--light--bg);
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    border: var(--border);
    border-radius: .5rem;
}

.display-order p span{
    color: var(--red);
}

.display-order .grand-total{
    font-size: 2.5rem;
    color: var(--light-color);
    margin-top: 2rem;
}

.display-order .grand-total span{
    color: var(--red);
}


/* checkout */

.checkout form{
    border: var(--border);
    border-radius: .5rem;
    background: var(--light--bg);
    padding: 2rem;
}

.checkout form h3{
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.checkout form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.checkout form .flex .inputBox{
    flex: 1 1 40rem;
}

.checkout form .flex .inputBox span{
    font-size: 2rem;
    color: var(--black);
}

.checkout form .flex .inputBox select,
.checkout form .flex .inputBox input{
    width: 100%;
    margin: 1rem 0;
    padding: 1.4rem;
    background: var(--white);
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;
}


/* placed-orders */

.placed-orders .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.5rem;
    justify-content: center;
}

.placed-orders .box-container .box{
    flex: 1 1 40rem;
    padding: 2rem;
    background: var(--light--bg);
    border: var(--border);
    border-radius: .5rem;
    padding-top: 1rem;
}

.placed-orders .box-container .box p{
    font-size: 2rem;
    color: var(--light-color);
    padding: 1rem 0;
    word-break: break-all;
}

.placed-orders .box-container .box p span{
    color: var(--purple);
}


/* search */

.search-form form {
    display: flex;
    gap: 1.5rem;

} 

.search-form form .btn{
    margin-top: 0;
}

.search-form form .box{
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    padding: 1.2rem 1.4rem;
    font-size: 2rem;
    color: var(--black);
}



/* footer */

.footer{
    background: var(--light--bg);
    padding: 2rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .box-container h3{
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.footer .box-container  .box p,
.footer .box-container  .box a{
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container  .box p i:hover,
.footer .box-container  .box a i:hover{
    color: var(--purple);
    padding-right: 0.5rem;
}

.footer .box-container  .box a:hover{
    color: var(--purple);
    text-decoration: underline !important;
}

.footer .credit{
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: var(--border);
    margin-top: 2.5rem;
    padding-top: 2.5rem;
}


.footer .credit span{
    color: var(--purple);
}


/* media query */

@media screen and (max-width:991px) {
    
    html{
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
    
    /* header */

    .header .header-2 .flex .navbar{
        position: absolute;
        top: 99% ;
        right: 0;
        left: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .header-2 .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    
 
    .header .header-2 .flex .navbar a{
        width: 100%;
        display: block;
        margin: 2rem;
        font-size: 2.5rem;
    }

    #menu-btn{
        display: inline-block;
    }

    
    .page .pagination{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
        justify-content: center;
    }
}

@media screen and (max-width:450px) {
    
    html{
        font-size: 50%;
    }

    .title{
        font-size: 3rem;
    }

    .heading{
        min-height: 30vh;
    }
    
    .heading h3{
        font-size: 3.5rem;
    }

    /* home */
    .home .content h3{
        font-size: 3rem;
    }



    
    
    /* shopping-cart */

    .shopping-cart .box-container{
        grid-template-columns: 1fr;
    }
}



